aside{
    .cuotas{
        background-color: rgb(68, 233, 219);
        width: 100%;
        height: 100px;
        margin-top: 90px;
        padding-top: 40px;
        justify-content: center;
        text-align: center;
        font-size: 25px;
        display:flex;
        position: relative;
        gap: 50px;
        text-shadow: 2px 2px 4px black;
        animation: color 7s infinite;
        font-weight: bolder;
      }
      .video video{
        display: inline-flex;
        margin-left: 6%;
        box-shadow: 5px 8px 5px 8px rgba(184, 74, 184, 0.4);
        border-radius: 10px;
        margin-bottom: 45px;
        width: 43.5%;
      
      }
      .novedades{
        display: flex;
        margin-top: 50px;
        font-size: 50px;
        justify-content: center;
        color:#fff;
        font-weight: bold;
        
     }  
}