/*header/ centro / main de pagina principal*/
header{
    .container-fluid{
        display: flex;
        background-color: #9743b8;
        position: absolute;
        padding-top: 50px;  
      }
      
}

.centro{ 
  background: url(../imagenes/fondogrande.webp);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  height: 500px;
      .logo-small{
        display: flex;
        justify-content: center;
        margin-top: 50px;
       
        
      }
 
 }








main{
    .comunicado{
        display: flex;
        font-size: 30px;
        place-items: center;
        display: grid;
        margin: 30px;
        text-shadow: 2px 2px 4px black;
        animation: color 7s infinite;
        font-weight: bolder;
       }  
       .titulo{
        color: azure;
        text-align: center;
        align-items: center;
        width: 100%;
        height: 50px;
        background-color: black;
        font-size: 30px;
        margin-top: 50px;
     
     }
     h3{
        color: white;
        text-align: center;
     }
     .productos{
         display:flex;
        flex-flow: wrap; 
        justify-content: center;
     }
     .productos-item{
        width: 300px;
        margin-left: 5%;
        margin-top: 40px;
        margin-bottom: 40px;
        box-shadow: 5px 5px 5px 5px rgba(184, 74, 184, 0.4);
        display:flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background-color: #f4eef7;
        color: #531a69;
        font-weight: bold;  
        img{
            width: auto; 
         }
         #dsc{ 
            display: flex;
            position: absolute;
            padding-left: 200px;
         }
         .carrito{
            border-radius: 8px 8px;
            background-color:#533ac2;
            width: 100%;
            &:hover{
                background-color: red;
             }
         }
         .detalle{
            background-color: #9743b8;
            height: 50px;
            width: 100%;
            text-align: center;
            font-weight: bolder;
            font-size: 25px;
            color: #000;
            
            .detalle:hover{
                background-color: blue;
             }
             
         }
     }
      
}
