@media only screen and (max-width: 768px){ 
/*navegacion principal para todas las paginas*/
body{
      width: 100%;
      text-align: center;  
    }
.centro{
      height: 50%;
      .navegacion {
       
        img{
        width: 65px;
        display: flex;
        justify-content: center;
        gap: 5px;
       
           }
          & a{
            font-size: 11px;
            margin-left: 5px;
          }  
       }
    }
/*pagina sobre nosotros*/
.imgHistoria{
  display: none;
}
.terminos{
  width: 25%;
  height: auto;
  
  .box a{
    font-size: 18px;
  }
  
}
.video{
      display: none;
    }
/*media notebooks*/
.carouselAutoplaying{
 width: 100%;
 height: auto;
}
.texto{
  h1 strong{
    font-size: 0.5em;
  }
      p{
        font-size: 0.5em;
        margin: 10px;
      }
   
    }
     
.texto-tablet p{
      font-size: 0.5em;
      margin: 8px;
    }
.cuotas p{
      font-size: 15px;
    }
.comunicado{
      font-size: 1em;
    }
.logo-small img{
      width: 80%;
    }
 /*media accesorios*/

.comunicado-2{
     font-size: 1.5em;
    }
.contenedor{
      .contenedor-box{
        height: 200px;
         p{
          font-size: 0.7em;
         }
         h2{
          font-size: 1em;
         }
      }
.contenerdor-box{
        p{font-size: 0.7em;
        }
        h2{
          font-size: 1em;
        }
      }
.contentedor-box{
        p{font-size: 0.7em;
    
        }
        h2{
          font-size: 1em;
        }
      }
      img{
        width: 50px;
      }
    }
.texto-2{
  h1{ display:none;}
  h2{display: none;}
  p{ display: none; }
 }
.youtube{
  iframe{
    display: none;
  }
}



    
 /*footer general para todas las paginas*/
.footer-section ul li a{
      display: none;
      h2{
        display: none;
      }
    }
.footer-section form{
      display: none;
     
    }
    
footer{
      margin-top: 100px;
      h2{
        display: none;
      }
    }
    
 }
    
    
    /*media queries tablets o manera horizontal*/
 @media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) { 
.navegacion a{ 
      font-size: 15px;
           img{
             width: 60px;
    }
     }
     /*pag principal*/
.video video{
      width: 400px;
     }
    
    
    
    
      /*pag quienes somos*/
      .imgHistoria{
        display: none;
      }
     }