.navegacion{
    text-shadow: 5px 5px 4px rgb(242, 243, 237);
   font-weight: bolder;
   display: flex;
   justify-content: center;
   gap: 18px;
   ul li a:active {
   background-color: #9c31a0;
  }
        & a {
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    color: #0c0c0c;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.5;
     text-decoration: none;    
          &:hover {
          color: #fff;
          box-shadow: inset 100px 0 30px 0 #9743b8;
          border-radius: 40px 40px;
          transform: scale(1.04);
          transition: transform .3s;
    }
     
  }
  }
  .contactoDirecto{
   position: relative;
   .btn-wsp{
    position:fixed;
    width:85px;
    height:85px;
    bottom:40px;
    right:40px;
    background:#25d366;
    color:#FFF;
    border-radius:60px;
    text-align:center;
    font-size:50px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
  background: #c7d6cd;
}

   }
   
  .btn-wsp img{
    position:relative;
    z-index: 3;
    width: 75px;
    text-align: center;
   }
  .btn-wsp::before,
  .btn-wsp::after{
    content:"";
    position: absolute;
    top: 11px;
    left: 15px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: #00e676;
    opacity: 0;
    animation: ondas 1.7s infinite;
  }
.btn-wsp::before{
  animation-delay: 1s;
}
.btn-wsp::after{
  animation-delay: 1.3s;
}

  @keyframes ondas{
  0%{  transform: scale (1); }
  15%{
   opacity: 1;
  }
  100%{
    transform: scale(2.5);
    opacity: 0;
  }
  }
