/*pagina notebooks*/

.texto{
    display: inline;
    color:#000 ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    font-size: 30px;
    text-align: center;
    top: 50px;
    h1{
        font-size: 50px;
       
        }
     }

.cuotas{
background-color: rgb(232, 233, 245);
width: 100%;
height: 100px;
margin-top: 90px;
padding-top: 40px;
justify-content: center;
text-align: center;
font-size: 25px;
display:flex;
position: relative;
gap: 50px;
text-shadow: 2px 2px 4px black;
animation: color 7s infinite;
font-weight: bolder;
}
.titulo{
color: azure;
text-align: center;
align-items: center;
width: 100%;
height: 50px;
background-color: black;
font-size: 30px;
margin-top: 50px;

}

.productos{
 display:flex;
flex-flow: wrap; 
justify-content: center;
.productos-item{
  width: 340px;
  height: auto;
  margin-left: 5%;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px 10px;
  box-shadow: 5px 5px 5px 5px rgba(24, 1, 24, 0.4);
  display:flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: white;
  color: #531a69;
  font-weight: bold;   
  & img{
    width: auto;
    
   
      }
 .detalle{
  background-color: #9743b8;
  height: 15%;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  font-size: 25px;
  color: #000;
  .detalle:hover{
    background-color: blue;
    
 }
}
.carrito{
border-radius: 5px 5px;
background-color:#533ac2;
width: 100%;
height: 25%;
 & a{
  text-decoration: none;
 }
.carrito:hover{
  background-color: red;
}
} 
}
}


/*pagina tablets*/
.texto-tablet{
display: inline;
color:#000 ;
font-family: Verdana, Geneva, Tahoma, sans-serif;
position: relative;
font-size: 30px;
text-align: center;
 .publicidad-tablet img{
display: block;
position:relative;
width: 100%;
align-items: center;
padding-bottom: 100px;
margin-top: 80px;
}
}
/*pagina accesorios*/
.comunicado-2{
display: flex;
font-size: 30px;
place-items: center;
display: grid;
margin: 30px;
text-shadow: 2px 2px 4px black;
animation: color 7s infinite;
font-weight: bolder;
}
.productos{
display:flex;
flex-flow: wrap; 
justify-content: center;

.productos-item{
width: 310px;
height: auto;
margin-left: 5%;
margin-top: 40px;
margin-bottom: 40px;
box-shadow: 5px 5px 5px 5px rgba(184, 74, 184, 0.4);
display:flex;
flex-direction: column;
text-align: center;
align-items: center;
background-color: #f4eef7;
color: #531a69;
font-weight: bold; 
border-radius: 5px 5px; 
&:hover{
  transform: scale(1.04);
  transition: transform .3s;
}

& img{
 width: auto;
 padding-top: 8px; 
 
}


#dsc{ 
 display: flex;
 position: absolute;
 padding-left: 200px;
}
.carrito{
 border-radius: 5px 5px;
 background-color:#533ac2;
 width: 100%;
 height: 18%;
 & a{
  text-decoration: none;
  color: #000;
 }
 &:hover{
     background-color: red;
  }
}
.detalle{
 background-color: #8a36ac;
 height: 40px;
 width: 100%;
 text-align: center;
 font-weight: bolder;
 font-size: 20px;
 color: #000;
 
 &:hover{
     background-color: rgb(162, 115, 168);
  }
  
}
}

}
.contenedor {
display: flex;
justify-content: space-between;
background-color: rgb(233, 178, 219);
text-align: center;
margin-bottom: 50px;
.contenedor-box {
flex: 1 1 1 ;
padding: 20px;
background-color: #f1f1f1;
     
 .contenedor-box:last-child {
   margin-right: 0;
} 
}
} 
.texto-2{
display:inline-block;
position:absolute;
margin-left: 500px;
text-align:right;
color: #000;
text-align: center;
font-size: 2rem;
margin-top: 10%;
}
.youtube{

letter-spacing: 50px;
display: flex;
flex-direction:column ;
gap: 50px;

}
/*pagina sobre nosotros*/
.quienes-somos{ 

display: inline-block;
color: #ccc;
font-size: 20px;
margin: 5%;
text-align: center;

.somos{
margin-top: 60px;
 
}

}

.terminos{
  display:flex;
 
  .box {
    flex: 1;
    margin-right: 10px;
    justify-content: center;
    background-color: #ccc3d3;
    margin: 3%;
    }

& a{
  text-decoration: none;
  color: #000;
  display: block;
  padding: 20px;
 text-align: center;
 font-weight: bold;
 font-size: 20px;

  &:hover{
    text-align: center;
    color: #472a8a;
    box-shadow: inset 500px 0 0 0 #239494;
    transform: scale(1.04);
    transition: transform .3s;
 }
}
 
} 

.imgHistoria{
  padding: 20px 10px;
  background-color: white;
  letter-spacing: 110px;
  padding-left: 65px;

  img{
  
  border-radius: 5px 5px;
 
 }
}

  
  
         

/*pagina terminos y condiciones*/
.terminosycondiciones {
margin: 25px;
padding: 25px;
border: 3px solid #ccc;
font-family: Arial, sans-serif;
color: #000;
background: #a17b7b;
li{
  list-style:square;
}

   h2 {
font-size: 25px;
margin-bottom: 10px;
color: #000;
      }
      p {
margin-bottom: 10px;
color: #000;
}


}
/*como comprar*/
.comprar {
margin: 20px;
padding: 25px;
border: 3px solid #ccc;
font-family: Arial, sans-serif;
color: #000;
background: #8867b3;
list-style-type: style;
h3 {
font-size: 20px;
margin-bottom: 10px;

}
p {
font-size: 18px;
margin-bottom: 20px;
}
}
/*pagina Ayuda*/
.ayuda{
max-width: 80%;
margin: 20px auto;
padding: 20px;
border: 5px solid #ccc;
color: #000;
font-size: 20px;
h2 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #ccc;
}

}
.preg-frec {
  margin-bottom: 20px;
}

.frecuentes-button {
  background-color: #9385b9;
  color: #333;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.frecuentes-button:hover {
  background-color: #8867b3;
}

.respuesta{
  padding: 2px;
  background-color: #f9f9f9;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label + .respuesta {
  max-height: 700px; 
}

/*pag contacto*/

.contacto {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
  color:#000;
  font-size: 20px;
  background-image: linear-gradient(to right,rgb(158, 158, 167),rgb(94, 94, 97));
  
}

ul {
  list-style: none;
  padding: 0;
}

.log {
  text-align: center;
  font-size: 2em;
}

.log span {
  color: #e4dada;
}

.contact-wrapper {
  box-shadow: 0 0 30px 10px rgb(73, 21, 117);
}

.contact-wrapper > * {
  padding: 1em;
}



.contacto-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contacto-form form label {
  display: block;
}

.contacto-form form p {
  margin: 0;
  padding: 1em;
}

.contacto-form form .block {
  grid-column: 1 / 3;
}

.contacto-form form button,
.contacto-form form input,
.contacto-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid #4130d6;
}

.contacto-form form button {
  background: #4130d6;
  border: 0;
  text-transform: uppercase;
  padding: 1em;
     &:hover{
      background: blueviolet;
     }
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #d63031;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* CONTACTO INFO */
.contacto-info {
  background: #000;
  color: #9743b8;
}

.contacto-info h4, .contacto-info ul, .contacto-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}
